html {
    scroll-behavior: smooth;
  }

.dropdown:hover .dropdown-menu {
    display: block;
}

.banner {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

@media screen and (min-width: 992px) {
    .navbar-md {
        display: flex !important;
    }
    .navbar-mds {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .banner {
        display: none !important;
    }
    .navbar-md {
        display: none !important;
    }
    .navbar-mds {
        display: flex !important;
    }
}